doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')

        title ClothApp

        // JQuery
        script(type='text/javascript', src='https://code.jquery.com/jquery-2.1.1.min.js')
        // Materialize CSS
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css', type='text/css')
        // Materialize JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js')
        // Parse
        script(src='//www.parsecdn.com/js/parse-1.6.12.min.js')
        // Custom JS
        script(src='/js/webapp/index.js')
        // Import Google Icon Font
        link(href='http://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    
    body
        .navbar-fixed.red.darken-4
            nav.red.darken-4
                .nav-wrapper
                    a.brand-logo.center(href='#!') ClothApp
                    a.button-collapse(href='#', data-activates='toggle-collapse')
                        i.material-icons menu
                    ul.hide-on-med-and-down
                        li
                            form
                                .input-field
                                    input#search(type='search', required='')
                                    label(for='search')
                                        i.material-icons search
                                    i.material-icons close
                    ul.right.hide-on-med-and-down
                        li
                            a(href='#') 
                                i.material-icons.right input
                                | Login
                    ul#toggle-collapse.side-nav
                        li
                            a(href='#') Most Recent
                        li
                            a(href='#') Top Rated
                        li
                            a(href='#') Near you
        .row.red-text.text-darken-4
            .col.s12.red-text.text-darken-4
                ul.tabs.red-text.text-darken-4
                    li.tab.col.s3
                        a.active(href='#test1') Most Recent
                    li.tab.col.s3
                        a(href='#test2') Top Rated
                    li.tab.col.s3
                        a(href='#test3') Near You
                    li.tab.col.s3.disabled
                        a(href='#test4') Disabled Tab
        .container
            #gallery.row
            