doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title ClothApp Web Client
        // jQuery
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
        // Bootstrap Core CSS
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', type='text/css')
        // Bootstrap Core JavaScript
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
        // Parse
        script(src='//www.parsecdn.com/js/parse-1.6.12.min.js')
        // Custom scripts
        script(src='/js/webclient/index.js')
    body
        .container-fluid
            .jumbotron
                h1 ClothApp Web Client
                p This is a test web client for ClothApp
            br
        .container
            hr
            br
            h3 Welcome to the ClothApp Web Client!
            p#userInfo You are not logged in.
            .row
                .col-sm-3
                    p Click on one of the following links.
                    .row
                        .col-sm-12
                            a(href='/webclient/signup').btn.btn-default.btn-block Sign up
                            br
                    .row
                        .col-sm-12
                            a(href='/webclient/signin').btn.btn-default.btn-block Sign in
                            br
                    .row
                        .col-sm-12
                            a(href='/webclient/signout').btn.btn-default.btn-block Sign out
                            br
                    .row
                        .col-sm-12
                            a(href='/webclient/getuserdata').btn.btn-default.btn-block Get user profile data
                            br
                    .row
                        .col-sm-12
                            a#setuserDataBtn.btn.btn-default.btn-block(href='/webclient/setuserdata') Set user profile data
                            br
                    .row
                        .col-sm-12
                            a#uploadPhotoBtn.btn.btn-default.btn-block(href='/webclient/uploadphoto') Upload a photo
                            br
                    .row
                        .col-sm-12
                            a#getUserGallery.btn.btn-default.btn-block(href='/webclient/getusergallery') Get user gallery
                            br
            br
            hr
            script checkLogin();
            