doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title ClothApp - Sign Up
        // jQuery
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
        // Bootstrap Core CSS
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', type='text/css')
        // Bootstrap Core JavaScript
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
        // Parse
        script(src='//www.parsecdn.com/js/parse-1.6.12.min.js')
        // Custom scripts
        script(src='/js/webclient/signup.js')
    body
        .container
            hr
            h2.text-center Sign Up
            br
            .row
                .col-sm-6.col-sm-offset-3
                    form.form-horizontal(name='signUpForm', role='form', method='get', onsubmit='return OnSignUp();')
                        .form-group
                            label.control-label.col-sm-2 Username:
                            .col-sm-10
                                input.form-control(name='username', type='text', placeholder='Enter username', required)
                        .form-group
                            label.control-label.col-sm-2(for='pwd') Password:
                            .col-sm-10
                                input#pwd.form-control(name='password', type='password', placeholder='Enter password', required)
                        .form-group
                            label.control-label.col-sm-2 Email:
                            .col-sm-10
                                input#email.form-control(name='email', type='email', placeholder='Enter email', required)
                        .form-group
                            label.control-label.col-sm-2 First Name:
                            .col-sm-10
                                input#email.form-control(name='firstName',type='text', placeholder='Enter first name', required)
                        .form-group
                            label.control-label.col-sm-2 Last Name:
                            .col-sm-10
                                input#email.form-control(name='lastName',type='text', placeholder='Enter last name', required)
                        .form-group
                            label.control-label.col-sm-2(for='date') Birthday:
                            .col-sm-10
                                input#email.form-control(name='date',type='date', required)
                        .form-group
                            .col-sm-offset-2.col-sm-10
                                button.btn.btn-default(type='submit') Sign Up
            br
            hr
            a(href='http://clothapp.parseapp.com/webclient').text-center Home