doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title ClothApp - Sign Up
        // jQuery
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
        // Bootstrap Core CSS
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', type='text/css')
        // Bootstrap Core JavaScript
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
        // Parse
        script(src='//www.parsecdn.com/js/parse-1.6.12.min.js')
        // Custom scripts
        script(src='/js/webclient/upload.js')
    body
        .container
            hr
            h2.text-center Upload a photo
            br
            .row
                .col-sm-6.col-sm-offset-3
                    form.form-horizontal(name='uploadForm', role='form', method='get', onsubmit='return OnUpload();')
                        .form-group
                            label.control-label.col-sm-2 Photo:
                            .col-sm-10
                                input.form-control(name='photo', type='file', placeholder='Photo', required)
                        .form-group
                            .col-sm-offset-2.col-sm-10
                                button.btn.btn-default(type='submit') Upload
            br
            hr
            a(href='http://clothapp.parseapp.com/webclient').text-center Home